<div id="<%= dom_id securitys_closing_price %>">
  <p>
    <strong>Closing price:</strong>
    <%= securitys_closing_price.closing_price %>
  </p>

  <p>
    <strong>Date closing:</strong>
    <%= securitys_closing_price.date_closing %>
  </p>

  <p>
    <strong>Security:</strong>
    <%= securitys_closing_price.security_id %>
  </p>

</div>
