<h1>Editing securitys closing price</h1>

<%= render "form", securitys_closing_price: @securitys_closing_price %>

<br>

<div>
  <%= link_to "Show this securitys closing price", @securitys_closing_price %> |
  <%= link_to "Back to securitys closing prices", securitys_closing_prices_path %>
</div>
