<h1>New securitys closing price</h1>

<%= render "form", securitys_closing_price: @securitys_closing_price %>

<br>

<div>
  <%= link_to "Back to securitys closing prices", securitys_closing_prices_path %>
</div>
