<h1>Editing cash transaction</h1>

<%= render "form", cash_transaction: @cash_transaction %>

<br>

<div>
  <%= link_to "Show this cash transaction", @cash_transaction %> |
  <%= link_to "Back to cash transactions", cash_transactions_path %>
</div>
