<div id="<%= dom_id security %>">
  <p>
    <strong>Security simbol:</strong>
    <%= security.security_simbol %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= security.creation_date %>
  </p>

</div>
