<h1>Editing securitys transaction</h1>

<%= render "form", securitys_transaction: @securitys_transaction %>

<br>

<div>
  <%= link_to "Show this securitys transaction", @securitys_transaction %> |
  <%= link_to "Back to securitys transactions", securitys_transactions_path %>
</div>
