<div id="<%= dom_id fund %>">
  <p>
    <strong>Name fund:</strong>
    <%= fund.name_fund %>
  </p>

  <p>
    <strong>Desc fund:</strong>
    <%= fund.desc_fund %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= fund.creation_date %>
  </p>

</div>
